<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div style="text-align: justify">
                <p><strong>Christ Centered</strong>—Throughout each school day, students will be taught the Christian faith, from the Lutheran Confessions.</p>
                <p><strong>Student Focused</strong>—Each student deserves instruction directed to their individual strengths, and weaknesses, academically, emotionally, and socially.</p>
                <p><strong>Community Involved</strong>—Students are taught the importance of a servant attitude put into action.</p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul *ngIf="members" class="list-group">
                <li class="list-group-item">
                    <h4>Member Congregations</h4>
                </li>
                <li
                        (click)="selectLocation(i)"
                        *ngFor="let i of members"
                        [class.selected]="i == selectedLocation"
                        class="list-group-item hover pointer">
                    <div>{{ i.name }}</div>
                    <div *ngIf="i == selectedLocation">
                        <div>{{ i.address }}</div>
                        <div><a [href]="i.website" target="_blank">View Website</a></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <sebm-google-map *ngIf="centerOn" [latitude]="centerOn.lat" [longitude]="centerOn.lng" [zoom]="zoom">
                <sebm-google-map-marker
                        *ngIf="selectedLocation"
                        [iconUrl]="'../assets/images/luther-seal-map-marker.png'"
                        [latitude]="selectedLocation.lat"
                        [longitude]="selectedLocation.lng">
                </sebm-google-map-marker>
            </sebm-google-map>
        </div>
        <div class="col-md-3">
            <ul *ngIf="supporters" class="list-group">
                <li class="list-group-item">
                    <h4>Supporting Congregations</h4>
                </li>
                <li
                        (click)="selectLocation(i)"
                        *ngFor="let i of supporters"
                        [class.selected]="i == selectedLocation"
                        class="list-group-item hover pointer">
                    <div>{{ i.name }}</div>
                    <div *ngIf="i == selectedLocation">
                        <div>{{ i.address }}</div>
                        <div><a [href]="i.website" target="_blank">View Website</a></div>
                    </div>
                </li>
            </ul>
            <!--<div style="border: 1pt solid black; padding: 5pt;">-->
                <!--<p>Congregations that support the Lutheran School Association:</p>-->
                <!--<ul>-->
                    <!--<li>Cross of Christ Lutheran Church, Bountiful</li>-->
                    <!--<li>Christ Lutheran Church, Murray</li>-->
                    <!--<li>First Lutheran Church, Tooele</li>-->
                    <!--<li>Grace Lutheran Church, Sandy</li>-->
                    <!--<li>Holy Trinity Lutheran Church, Riverton</li>-->
                    <!--<li>Redeemer Lutheran Church, Salt Lake City</li>-->
                    <!--<li>St. John's Lutheran Church, Salt Lake City</li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            LCMS congregations have been building and maintaining Lutheran schools since the founding of the LCMS in 1847.  Because of our strong commitment to Lutheran education, it was common for schools to be built soon after the church and be maintained by the local individual congregations to serve the needs of the children in preparing them for adulthood.
        </div>
    </div>
</div>