<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<!--<alert type="success">hello</alert>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <img src="../assets/images/banner-luther-seal-3.png" style="width: 108pt;">
        </div>
        <div class="col-md-8">
            <img src="../assets/images/banner.jpg">
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="well">
    <router-outlet></router-outlet>
</div>