<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<!--<alert type="success">hello</alert>-->
<div class="container-fluid">
    <div class="row banner">
        <div class="col-md-2">
            <img src="../assets/images/banner-luther-seal-3.png" style="width: 108pt;">
        </div>
        <div class="col-md-8 banner">
            <h1>LUTHERAN SCHOOL ASSOCIATION</h1>
            <div>
                <p>
                    <small>
                        <i>I am afraid that the schools will prove the very gates of hell, unless they diligently labor in explaining the Holy Scriptures and engraving them in the heart of the youth.</i>
                    </small>
                </p>
                <p>-- Martin Luther</p>
            </div>
        </div>
        <div class="col-md-2">
            <img src="../assets/images/banner-luther-seal-3.png" style="width: 108pt;">
        </div>
    </div>
</div>
<div class="well">
    <router-outlet></router-outlet>
</div>

<nav *ngIf="currentUser" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a>{{ getUserName() }}</a></li>
                <li><a routerLink="/admin">Admin</a></li>
                <li><a (click)="logout()">Logout</a></li>
                <li><a routerLink="/"><i class="glyphicon glyphicon-home"></i></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>