<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Admin</h1>
            <button (click)="addCongregation()" class="btn btn-primary">Add Congregation</button>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>{{ members.headerText }}</h3>
                    </li>
                    <li
                        *ngFor="let i of members.list"
                        (click)="selectCongregation(i)"
                        class="list-group-item hover pointer">
                        {{ i[members.displayProperty] }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>{{ supporters.headerText }}</h3>
                    </li>
                    <li
                        *ngFor="let i of supporters.list"
                        (click)="selectCongregation(i)"
                        class="list-group-item hover pointer">
                        {{ i[supporters.displayProperty] }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-modal #memberModal>
    <div class="app-modal-header">
        <h3>Edit Congregation</h3>
    </div>
    <div class="app-modal-body">
        <div class="form-viewport">
            <form *ngIf="selectedCongregation">
                <div class="form-group">
                    <label>Name</label>
                    <input [(ngModel)]="selectedCongregation.name" type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Website</label>
                    <input [(ngModel)]="selectedCongregation.website" type="text" class="form-control" name="website">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input [(ngModel)]="selectedCongregation.address" type="text" class="form-control" name="address">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input [(ngModel)]="selectedCongregation.city" type="text" class="form-control" name="city">
                </div>
                <div class="form-group">
                    <label>State</label>
                    <input [(ngModel)]="selectedCongregation.state" type="text" class="form-control" name="state">
                </div>
                <div class="form-group">
                    <label>Zip</label>
                    <input [(ngModel)]="selectedCongregation.zip" type="text" class="form-control" name="zip">
                </div>
                <div class="form-group">
                    <label>Latitude</label>
                    <input [(ngModel)]="selectedCongregation.latitude" type="text" class="form-control" name="latitude">
                </div>
                <div class="form-group">
                    <label>Longitude</label>
                    <input [(ngModel)]="selectedCongregation.longitude" type="text" class="form-control" name="longitude">
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select [(ngModel)]="selectedCongregation.statusCode" class="form-control" name="statusCode">
                        <option *ngFor="let i of getStatusList()" [value]="i.code">{{ i.description }}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="app-modal-footer">
        <div class="btn-group">
            <button (click)="cancelEditMember()" class="btn btn-default">Cancel</button>
            <button (click)="saveCongregation()" class="btn btn-primary">Save</button>
            <button (click)="deleteMember()" class="btn btn-danger">Delete</button>
        </div>
    </div>
</app-modal>